@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400&family=Kalam:wght@300;700&display=swap');

.home {
  text-align: center;
  background: url("/assets/images/lightbulb.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
  background-blend-mode: exclusion;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation: home 10s ; /* Chrome, Safari, Opera */
  animation: home 10s ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes home {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes home {
  from {opacity: 0;}
  to {opacity: 1;}
}

.name {
  padding-top: 5vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}