$yellowLight: rgb(231, 203, 143);
$grayLight: rgb(245, 243, 243);

.work {
  background-color: $grayLight;
  min-height: 100vh;
}

.company-navbar {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.company-link {
  margin: 10px;
  cursor: pointer;
  font-weight: 500;
}

.company-selected {
  border-bottom: 4px solid $yellowLight;
  padding-bottom: 5px;
}

.company-container {
  margin-top: 3vh;
  margin-bottom: 200px;
  padding-left: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  //background-color: white;
  border-radius: 10px;
  animation: fadein 3s ease;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.duties-list {
  padding: 1vw;
  margin-left: -18px;
}

.date {
  margin: 0;
  font-weight: 500;
}

.title {
  background-color:rgb(231, 203, 143, .7);
  font-size: 20px;
  font-weight: 600;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 200px;
}

.project {
  min-width: 200px;
  min-height: 200px;
  background-color: black;
  background-size: 200px 200px;
  margin: 10px;
  opacity: .6;
}

.project-title {
  opacity: 0;
  font-family: 'Kalam', cursive;
}

.project:hover {
  position: relative;
  bottom: 25px;
  opacity: 1;
  cursor: pointer;
  background-image: none;
}

.project:hover + .project-title {
  opacity: 1;
  transition: opacity 2s;
  margin-top: -20px;
}


