@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

$yellowLight: rgb(231, 203, 143);

.App {
  text-align: center;
  background-color: black;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.section-content {
  width: 50vw;
}

.header-text {
  font-family: 'Amatic SC', cursive;
  font-size: 4vh;
  margin-top: 7vh;
}

.primary-color {
  color: $yellowLight;
}

.white {
  color: white;
}

li{
  list-style: none;
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin-top: 10px;
}

ul li::before {
  content: '';
  min-height: 12px;
  min-width: 12px;
  background-image: url('/assets/images/light-bulb-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-top: 5px;
}
